@import "break-points";

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center top;
  min-height: 750px;
  max-height: 750px;
}

.bannerInfo {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50%; /* steps here till 20% on xl*/
  margin: 0 auto;
  max-width: 920px;
  color: white;


  h1 {
    margin: 20px 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.1;

    @media screen and (min-width: $md) {
      font-size: 42px;
    }
    @media screen and (min-width: $lg) {
      font-size: 65px;
    }
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px; /*22*/
    line-height: 1.5;
    margin-bottom: 80px;

  }

  a {
    background-color: #E84545;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.4;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 2px;
  }

  a:hover {
    cursor: pointer;
  }


}

