@import "break-points";

.pageOnScroll {
  background-color: rgb(41, 44, 71);
  .navigationContainer {
    border: none;
    padding: 15px 0;

    @media screen and(min-width: $lg) {
      padding: 25px 0;
    }
  }
}
