@import "src/assets/scss/break-points";

.banner {

  /*  background-image: url("/assets/images/banner.jpg");*/
  background-size: cover;
  background-position: center top;
  min-height: 750px;
  max-height: 750px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerInfo {

  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 920px;
  color: white;
  @media screen and (min-width: $sm) {

    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: $lg) {

    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {

    padding-left: 15px;
    padding-right: 15px;
  }


  h1 {
    margin: 20px 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.1;
    @media screen and(min-width: 480px) {
      font-size: 42px;
    }
    @media screen and (min-width: $md) {
      font-size: 65px;
    }

  }

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 80px;
    @media screen and (min-width: $lg) {
      font-size: 22px;
    }

  }

  a {
    background-color: #E84545;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.4;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 2px;
  }

  a:hover {
    cursor: pointer;
  }


}

