@import "src/assets/scss/break-points";

#works {
  @media screen and(min-width: $sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.workItem {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  @media screen and(min-width: $md) {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  @media screen and(min-width: 1200px) {
    width: 25%;
  }
}

.work {
  height: 100%;
  width: 100%;
  transition: all .6s;

  img {
    object-fit: cover;
  }

  h5, p {
    opacity: 0;
    color: white;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all .6s;
  }

  h5 {
    top: 35%;
    font-weight: 700;
  }

  p {
    top: 65%;
  }
}

.work:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(232, 69, 69, 0.9);

}

.workItem:hover .work:before {
  display: block;

}

.workItem:hover .work {
  transform: scale(1.15);
}

.workItem:hover h5 {
  opacity: 1;
  top: 47%;
}

.workItem:hover p {
  opacity: 1;
  top: 52%;
}

