@import "../../assets/scss/break-points";

.modalWindowWrapper {
  display: block;
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity ease-in-out $time;
}

.wrapperOpen {
  top: 0;
  position: fixed;
  z-index: 100;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWindowContainer {
  position: relative;
  z-index: 101;
  width: 90vmin;
  height: 50vmin;
  padding: 15px;
  background: #fff;
  border-radius: 5px;

  img {
    width: 100%;
    position: relative;
    z-index: 500;
  }
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  background: url('/assets/images/fancybox_sprite.png');
}
