@import "src/assets/scss/break-points";

.sliderWrapper {
  display: flex;
  flex-direction: column;
  background: #53354a;
  @media screen and(min-width: $lg) {
    flex-direction: row;
  }
}

.sliderImageContainer {
  display: flex;

  position: relative;
  width: auto;
  @media screen and(min-width: $lg) {
    width: 50%;
  }
}

.onErrorImageStyle {
  object-fit: contain !important;
  height: 455px !important;
  width: 455px !important;
}

.slide {

  opacity: 0;
  position: absolute;
  transition: all 0.6s ease-in-out;

  img {

    object-fit: cover;
    width: 100%;
    height: auto;

    @media screen and(min-width: $lg) {
      height: 55vh;
      width: 55vw;
    }
  }
}

.activeSlide {

  opacity: 1;
  position: relative;

}

.activeInfo {
  display: block !important;
}

.hidden {
  display: none;
  @media screen and(min-width: $lg) {

  }
}

.sliderInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 300px;
  width: auto;
  @media screen and(min-width: $lg) {
    height: auto;
    width: 50%;
    align-items: center;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}


.text {

  color: #fff;
}

//FOR QUOTES ==========================

.textMain::after, .textMain::before {
  position: absolute;
  font-size: 24pt;
  color: #aaa;
}

.textMain ::before {
  content: '\201c';
  top: -12px;
  left: 0;
}

.textMain ::after {
  content: '\201d';
  bottom: -29px;
  right: 0;
}

//=====================================

.textMain {
  font: italic 26px "Cardo", 'Georgia', "Times New Roman", serif;
  padding: 30px 5% 30px;
  @media screen and(min-width: $lg) {
    font-size: 36px;
    padding: 5% 25% 0 25%;
  }
}

.textQuote {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  padding: 0 5%;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
  @media screen and(min-width: $lg) {
    margin-left: 20%;
    align-self: flex-start;
  }
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.6s ease-out;

}

.activeDot, .dot:hover {
  background-color: #bbb;
}

.dots {

  padding: 0px 0 20px 0;
  text-align: center;
  @media screen and(min-width: $lg) {
    padding-top: 10vh;
  }
}

